
.App {
  text-align: center;
}
body{
  /* background: linear-gradient(to bottom, #87CEEB, #1E90FF);
  height: 100vh;  */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #2b9dca, #ADD8E6);
  background-size: cover;
  background-attachment: fixed;


}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashboard-card{
   border: 1px white solid;
   height: auto;
   width: 80%;
   border-radius: 2%;
}
.now-card{
/* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* border: 1px white solid; */
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Use a clean and modern font */
  color: white;


}
.carousel-container {
  width: 100%;
  margin: auto;
}

.card-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.card {
  overflow: hidden;
  text-align: center;

}

.card .card-body, .card .list-group-item {
  padding: 5px;
}
.card-img{
  height: 100px;
  width: 100px;

}
.app-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Use a clean and modern font */
  font-size: 40px; /* Make the font size large */
  color: #fff; /* White color for good contrast */
  text-align: center; /* Center the text */
  padding: 20px; /* Add some padding for spacing */
  margin: 20px auto; /* Center the element horizontally with margin */
  width: fit-content; /* Fit the width to the content */
}
.drop-down{
  width: 300px;
  border: 1px white solid;
  border-radius: 5px;
  height: 35px;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Use a clean and modern font */
  
}
.modal-transparent .modal-content {
  /* background-color: transparent !important; */
  background: linear-gradient(to bottom, #2b9dca, #ADD8E6);

  border: none;
  box-shadow: none;
}

.modal-transparent .modal-backdrop {
  background-color: transparent !important;
}

.chart-bg{
  background-color: transparent;
}
/* src/index.css */

:root {
  --background-color: linear-gradient(to bottom, #2b9dca, #ADD8E6);
  --text-color: #ffffff;
}

[data-theme='dark'] {
  --background-color:linear-gradient(to bottom, #2d3436, #ADD8E6);
  --text-color: #ffffff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}



.switch {
  position: absolute;
  display: inline-block;
  right: 32px;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #bfddf5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
